

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body {
background-color: #7DD1B8 ;
font-family: "sans-serif", Helvetica, "IM Fell French Canon SC" ;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #297B5A;
    color: azure;
    display: grid;
    grid-template-columns: 150px auto;
}

#first {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
    
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #297B5A  ;
    max-width: 1600px;

}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "IM Fell French Canon SC";
    text-align: center;
    padding: 35px;
}

h1 {
    text-align:center;
    color: azure;
}


h4 {
    text-align: center;
    color: azure;
}

main {
    max-width: 1600px;
    background-color: #297B5A;
    text-align: center;
}

section.forth {
    background-color: #7DD1B8 ;
}

div.box {
    padding-top: 100px;
    width: 500px;
	display: inline-block;
}



div.ball{
    padding-top: 100px;
    background-color: #7DD1B8 ;
    width: 380px;
	display: inline-block;
}



span {
    color: azure
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #297B5A  ;
    
}

footer h3 {
    color: azure;
    text-decoration: underline;
}

footer h3 a :hover {
    background-color: azure;
}

footer a {
    color: azure;
    text-decoration: none;
}

footer a :hover {
    color: azure;
}

footer p {
    color: azure;
}