

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body {
    align-content: center;
    max-width: 1600px;
background-color: #7DD1B8 ;
font-family: "sans-serif", Helvetica, "IM Fell French Canon SC" ;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    background-color: #297B5A;
    color: azure;
    display: grid;
    grid-template-columns: 150px auto;
}

#first {
    max-width: 100%;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
    
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #297B5A  ;
    max-width: 1200px;

}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "IM Fell French Canon SC";
    text-align: center;
    padding: 35px;
}

.second {
    display: grid;
    grid-column: 1ft 1ft 1ft 1ft 1ft 1ft;
    grid-row: 1ft 1ft 1ft 1ft 1ft 1ft 1ft ;
    background-color: black;
    width: 100%;
    height: 600px;
    background-image: url(../images/family2.jpg);
}

.title {
    
    grid-column: 1/6;
    grid-row: 7/7;
    text-align:center;
    color: azure;
}


.complement {
    margin-top: -50px;
    margin-bottom: 100px;
    text-align: center;
    color: azure;
}

main {
    max-width: 100%;
    background-color: #297B5A;
    text-align: center;
}

.third{
    width: 100%;
    background-color: #297B5A;
}

section.forth {

    margin: center;
    background-color: #7DD1B8 ;
}

div.box {
    padding-top: 100px;
    width: 500px;
	display: inline-block;
}



div.ball{
    padding-top: 100px;
    background-color: #7DD1B8 ;
    width: 380px;
	display: inline-block;
}



span {
    color: azure
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    padding: 25px 50px;
    background-color: #297B5A  ;
    
}

footer h3 {
    color: azure;
    text-decoration: underline;
}

footer h3 a :hover {
    background-color: azure;
}

footer a {
    color: azure;
    text-decoration: none;
}

footer a :hover {
    color: azure;
}

footer p {
    color: azure;
}

*new page*

@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100&family=Signika+Negative&display=swap');

body {
    background-color: #7DD1B8 ;
    font-family: "sans-serif", Helvetica, "IM Fell French Canon SC" ;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #297B5A ;
        color: azure;
        display: grid;
        grid-template-columns: 150px auto;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background-color: #297B5A  ;
        max-width: 1600px;
    
    }

    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "IM Fell French Canon SC";
        text-align: center;
        padding: 35px;
    }


    #logo_link {
        padding-top: 5px;
        justify-self: center;
        align-self: center;
        
        
    }
    
    .logo {
        width: 150px;
    }

    #familia{
        max-width: 1200px;
    }

    h1 {
        text-align:center;
        color: azure;
    }

    h2 {
        text-align:center;
        color: azure; 
    }
    
    
    h4 {
        text-align: center;
        color: azure;
    }

    main {
        max-width: 1200px;
        background-color: #297B5A;
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 200px;
        padding: 25px 50px;
        background-color: #297B5A  ;
        
    }

    footer h3 {
        color: azure;
        text-decoration: underline;
    }
    
    footer h3 a :hover {
        background-color: azure;
    }
    
    footer a {
        color: azure;
        text-decoration: none;
    }
    
    footer a :hover {
        color: azure;
    }
    
    footer p {
        color: azure;
    }