

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body {
    align-content: center;
    max-width: 1600px;
background-color: #297B5A ;
font-family: "sans-serif", Helvetica, "IM Fell French Canon SC" ;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

header {
    max-width: 100%;
    background-color: #297B5A;
    color: azure;
    display: grid;
    grid-template-columns: 150px auto;
}

#first {
    max-width: 100%;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
    
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #297B5A  ;
    max-width: 1200px;

}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "IM Fell French Canon SC";
    text-align: center;
    padding: 35px;
}


.second {
    display: grid;
    grid-column: 1ft 1ft 1ft 1ft 1ft 1ft;
    grid-row: 1ft 1ft 1ft 1ft 1ft 1ft 1ft 1ft ;
    background-color: black;
    width: 100%;
    height: 600px;
    background-image: url(../images/family2.jpg);
    padding-top: 100px;
   
}

.title {
    
    grid-column: 1/6;
    grid-row: 8/8;
    text-align:center;
    color: azure;
    padding-bottom: -50px;
}


.complement2 {
    margin-top: 0px;
    text-align: center;
    color: azure;
   
}

.complement {
    background-color: #297B5A;
    padding-top: 50px;
    padding-bottom: 50px;
}

main {
    max-width: 100%;
    background-color: #297B5A;
    text-align: center;
}

.third{
   max-width: 1600%;
   background-color: #7DD1B8;
   padding-top: 100px;
   padding-bottom: 100px;

}

.container1{
display: flex;
background-color: white;
padding-bottom: 100px;
justify-content: space-around;
}

.transport-img{
    border-radius: 5%;
    max-width: 400px;
    margin-bottom:100px ;
}

.tune-img{
    border-radius: 5%;
    max-width: 400px;
    margin-bottom:100px ;
}

.imunization-img {
    border-radius: 5%;
    max-width: 400px;
    margin-bottom:100px ;
}

.define {
    margin-top: 100px;
}

.help{
    padding-bottom: 50px;
}


.container{
    background-color: #297B5A;
    margin-top: 100px;
    margin-bottom: -100px;
    display:flex
    
    }


.LUCAS{
    border-radius: 50%;
    margin-left: 90px;
    margin-right: 90px;
}

.LELIO{
    border-radius: 50%;
    margin-left: 90px;
    margin-right: 90px;
}

.JUNIOR{
    border-radius: 50%;
    margin-left: 90px;
    margin-right: 90px;
}

.card{
    color: azure;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    padding: 25px 50px;
    background-color: black ;
    
}

footer h3 {
    color: azure;
    text-decoration: underline;
}

footer h3 a :hover {
    background-color: azure;
}

footer a {
    color: azure;
    text-decoration: none;
}

footer a :hover {
    color: azure;
}

footer p {
    color: azure;
}


*new page*


body {
    background-color: #7DD1B8 ;
    font-family: "sans-serif", Helvetica, "IM Fell French Canon SC" ;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #297B5A ;
        color: azure;
        display: grid;
        grid-template-columns: 150px auto;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background-color: #297B5A  ;
        max-width: 1600px;
    
    }

    nav a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: "IM Fell French Canon SC";
        text-align: center;
        padding: 35px;
    }


    #logo_link {
        padding-top: 5px;
        justify-self: center;
        align-self: center;
        
        
    }
    
    .logo {
        width: 150px;
    }

    #familia{
        max-width: 1600px;
    }

    h1 {
        text-align:center;
        color: azure;
    }

    h2 {
        text-align:center;
        color: azure; 
    }
    
    
    h4 {
        text-align: center;
        color: azure;
    }

    .services2{
        background-color: #7DD1B8;
        padding-top: 50px;
        padding-bottom: 100px;
        margin-top: 0px;
        margin-bottom: -250px;
    }

    .tuning{
        align-content: center;
    }

    .tune{
        margin-top: 100px;
        padding: top 100px;
        padding-bottom: 50px;
    }

    .trans-img {
        max-width: 900px;
    }

    .trans{
        margin-top: 100px;
        padding: top 100px;
        padding-bottom: 50px;
    }


    .imun-img{
        max-width: 900px;
    }

    .imuni {
        margin-top: 100px;
        padding: top 100px;
        padding-bottom: 50px;
    }

    .pg3{
        margin-left: 10px;
        margin-right: 10px;
        size: 30px;
        color: azure;
    }
    #page3


     .container4{
        background-color: #7DD1B8;
        display: flex;
        justify-content: center;
        }


     .blackpiano-img{
        max-width: 1600px;
        margin-left: 100px;
     }

     .txt2 {
        color: azure;
        text-align: center;
        font-size: 35px;
     }

     .part2{
        background-color: #7DD1B8;
        padding-top: 100px;
        padding-bottom: 200px;
        margin-bottom: -200px;
     }

     .father-img {
       max-width: 600px;
       margin-left: 50px;
       margin-right: 10px;
     }

     .container3 {
        display:flex;
        padding-top: 100px;
     }

     .txt {
        color: azure;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 35px;
     }



    